h2{
    padding: 24px;
}

table{
    width: calc(100% - 48px);
    margin: 0 24px ;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th,td{
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid var(--border);
}

th{
    background: #f8fafc;
    color: var(--text-light);
}